.cookie-banner-section {
  background: #232533;
  padding: 32px;
  width: 100%;
  max-width: 343px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  transform: none;
  z-index: 100;
  display: none;

  @include media(desktop) {
    max-width: 1262px;
  }
}

.cookie-banner-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.cookie-banner-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 18px;
    text-align: left;
    max-width: 622px;
    margin-bottom: 0;
  }
}

.cookie-banner-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    flex-direction: row;
    gap: 32px;
  }
}

.cookie-accept-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 28px;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #232533;
  width: 100%;
  max-width: 256px;

  @include media(desktop) {
    font-size: 20px;
    width: 256px;
  }
}

.cookie-decline-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 28px;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  width: 100%;
  max-width: 256px;

  @include media(desktop) {
    font-size: 20px;
    width: 256px;
  }
}

.show-cookie-banner {
  display: block;
}
