.header {
  background: #1c1c22;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

.header-container {
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
  }
}

.logo-icon {
}

.header-logo-link {
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    gap: 38px;
  }
}

.nav-list-link {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f3f3f3;
  transition: all 0.3s ease-in-out;

  &:hover,
  &.active {
  }
}

.nav-list-link.active {
}

.header-play-link {
  display: none;

  @include media(desktop) {
    border: 1px solid #9863fa;
    border-radius: 24px;
    padding: 4px 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
  }
}

.nav-btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
  stroke: #232533;
}
