.header {
  background: #efefef;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.header-container {
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
  }
}

.logo-icon {
}

.header-logo-link {
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 39px;
    border: 1px solid #adb2d4;
    border-radius: 24px;
    padding: 8px 32px;
  }
}

.nav-list-link {
  font-family: 'Figtree', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #232533;
  transition: all 0.3s ease-in-out;

  &:hover,
  &.active {
  }
}

.nav-list-link.active {
}

.nav-btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
  stroke: #232533;
}
