.hero-section {
}

.hero-wrapper {
  padding-top: 120px;
  padding-bottom: 80px;
  background-image: url(../img/hero/hero-bg-mob.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto;
  max-width: 375px;
  margin: 0 auto;

  @include media(desktop) {
    padding-top: 140px;
    background-image: url(../img/hero/hero-bg-desk.png);
    background-position: bottom right;
    max-width: 1440px;
  }
}

.hero-title {
  font-family: 'Figtree', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  color: #232533;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 64px;
  }
}

.hero-title-span {
  color: #126fff;
}

.hero-text {
  font-family: 'Figtree', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #232533;
  margin-bottom: 80px;

  @include media(desktop) {
    font-size: 18px;
    margin-bottom: 40px;
    max-width: 832px;
  }
}

.hero-btn-wrapper {
  @include media(desktop) {
    max-width: 352px;
    margin-left: 0;
  }
}

.hero-btn {
  background: #126fff;
  border-radius: 28px;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Figtree', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  width: 100%;
  transition: all 0.3s ease-in-out;

  &:active {
    background: #3483fe;
  }

  @include media(desktop) {
    &:hover {
      background: #3483fe;
    }
  }
}
