<section class="section about-section" id="about">
  <div class="container about-container">
    <h2 class="section-title">What We Do</h2>
    <h2 class="section-subtitle">Smart Support for Small Event Teams</h2>
    <p class="about-text">
      We offer consulting sprints and one-on-one support to guide you through
      every essential element of event planning.
    </p>
    <p class="about-services-text">Our Services Include:</p>
    <div class="about-list-wrapper">
      <ul class="about-list">
        <li class="about-list-item">
          <svg class="about-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-event"></use>
          </svg>
          <p class="about-item-text">Event Strategy Roadmaps</p>
        </li>
        <li class="about-list-item">
          <svg class="about-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-setup"></use>
          </svg>
          <p class="about-item-text">Tech Stack Selection & Setup</p>
        </li>
        <li class="about-list-item">
          <svg class="about-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-budget"></use>
          </svg>
          <p class="about-item-text">Budget & Compliance Planning</p>
        </li>
      </ul>
      <ul class="about-list">
        <li class="about-list-item">
          <svg class="about-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-communication"></use>
          </svg>
          <p class="about-item-text">Brand Messaging & Communication Flow</p>
        </li>
        <li class="about-list-item">
          <svg class="about-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-launch"></use>
          </svg>
          <p class="about-item-text">Pre-launch Walkthroughs</p>
        </li>
        <li class="about-list-item">
          <svg class="about-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-remote"></use>
          </svg>
          <p class="about-item-text">Remote/Hybrid Optimization</p>
        </li>
      </ul>
    </div>
  </div>
</section>
