<section class="section contact-section" id="contact">
  <div class="container contact-container">
    <div class="contact-content-wrapper">
      <h2 class="section-title">Contact Us</h2>
      <h2 class="section-subtitle contact-subtitle">Send a Signal</h2>
      <p class="contact-email-text">
        <span>Email:</span>
        <a class="contact-email-link" href="mailto:info@match3nune.pro"
          >info@match3nune.pro</a
        >
      </p>
      <p class="contact-email-text">
        <span>Partnerships:</span>
        <a class="contact-email-link" href="mailto:partnerships@match3nune.pro"
          >partnerships@match3nune.pro</a
        >
      </p>
      <p class="contact-email-text">
        <span>Jobs:</span>
        <a class="contact-email-link" href="mailto:team@match3nune.pro"
          >team@match3nune.pro</a
        >
      </p>
      <p class="contact-email-text">Location: Distributed | HQ: Helsinki</p>
      <img
        class="contact-img"
        src="./img/contact/contact-water-moon.png"
        alt="Water moon"
        width="360"
        height="345"
        loading="lazy"
      />
    </div>
  </div>
</section>
