<section class="section contact-section" id="contact">
  <div class="contact-wrapper">
    <div class="container contact-container">
      <h2 class="section-title">Contact</h2>
      <h2 class="section-subtitle contact-subtitle">
        Let's Plan Your Event — The Smart Way
      </h2>
      <p class="contact-text">
        Have questions or need a quick diagnostic? We’re just one message away.
      </p>
      <p class="contact-email-text">
        <span>Email:</span>
        <a class="contact-email-link" href="mailto:info@eventlo.online"
          >info@eventlo.online</a
        >
      </p>
      <p class="contact-solials-text">Follow us on Social Media</p>
      <p class="contact-hashtags-text">
        Hashtags to use:
        <span class="contact-hashtags-span"
          >#eventlo #leanlaunch #smartevents #eventstrategy</span
        >
      </p>
    </div>
  </div>
</section>
