<section class="section features-section" id="features">
  <div class="features-wrapper">
    <div class="container features-container">
      <h2 class="section-title">Featured Game: Match Luna Nune</h2>
      <p class="section-subtitle features-subtitle">
        Match Luna Nune — A Puzzle Game Written in Moonlight
      </p>
      <p class="features-text">
        A meditative match-3 game where players align glowing sigils across
        lunar worlds, unlocking hidden memories and shifting the constellations
        of a forgotten sky.
      </p>
      <p class="features-features-text">Core Features:</p>
      <ul class="features-list">
        <li class="features-list-item">
          <img
            class="features-item-img"
            src="./img/features/features-green-moon.png"
            alt="Green moon"
            width="73"
            height="74"
            loading="lazy"
          />
          <p class="features-item-text">
            Evolving puzzle mechanics across
            <span class="features-span">7</span> celestial realms
          </p>
        </li>
        <li class="features-list-item">
          <img
            class="features-item-img"
            src="./img/features/features-bubble-moon.png"
            alt="Bubble moon"
            width="67"
            height="74"
            loading="lazy"
          />
          <p class="features-item-text">
            Story told through fragments, echoes, and pattern recognition
          </p>
        </li>
        <li class="features-list-item">
          <img
            class="features-item-img"
            src="./img/features/features-red-moon.png"
            alt="Red moon"
            width="75"
            height="74"
            loading="lazy"
          />
          <p class="features-item-text">
            Offline mode, relaxing mode, emotional mode
          </p>
        </li>
        <li class="features-list-item">
          <img
            class="features-item-img"
            src="./img/features/features-purple-moon.png"
            alt="Purple moon"
            width="75"
            height="74"
            loading="lazy"
          />
          <p class="features-item-text">
            <span class="features-span">1M+</span><br />
            downloads across platforms
          </p>
        </li>
      </ul>
      <div class="features-btn-wrapper">
        <a class="features-games-btn" href="#contact">Visit Game Page</a>
        <a class="features-contact-btn" href="#contact">Download on Mobile</a>
      </div>
    </div>
  </div>
</section>
