<section class="section games-section" id="games">
  <div class="games-wrapper">
    <div class="container games-container">
      <h2 class="section-title games-title">Our Portfolio</h2>
      <h2 class="section-subtitle games-subtitle">Other Games by Luna Nune</h2>
      <ul class="games-list">
        <li class="games-list-item">
          <h3 class="games-item-title">Crystal Wane</h3>
          <p class="games-item-subtitle">Tile Puzzle. Mobile</p>
          <picture>
            <source
              srcset="./img/games/games-img1-desk.png"
              media="(min-width: 1440px)"
              width="544"
              height="258"
            />
            <source
              srcset="./img/games/games-img1-mob.png"
              width="343"
              height="258"
            />
            <img
              class="games-img"
              src="./img/games/games-img1-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="258"
              loading="lazy"
            />
          </picture>
          <p class="games-item-text">
            A crystalline board-clearing experience set in a falling sky world.
          </p>
        </li>
        <li class="games-list-item">
          <h3 class="games-item-title">Solstice Circuit</h3>
          <p class="games-item-subtitle">Logic Arcade. Web / Mobile</p>
          <picture>
            <source
              srcset="./img/games/games-img2-desk.png"
              media="(min-width: 1440px)"
              width="544"
              height="258"
            />
            <source
              srcset="./img/games/games-img2-mob.png"
              width="343"
              height="258"
            />
            <img
              class="games-img"
              src="./img/games/games-img2-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="258"
              loading="lazy"
            />
          </picture>
          <p class="games-item-text">
            Move light through relic gates to repair the solar grid.
          </p>
        </li>
        <li class="games-list-item">
          <h3 class="games-item-title">Drift of Echoes</h3>
          <p class="games-item-subtitle">Audio Puzzle. PC / Mobile</p>
          <picture>
            <source
              srcset="./img/games/games-img3-desk.png"
              media="(min-width: 1440px)"
              width="544"
              height="258"
            />
            <source
              srcset="./img/games/games-img3-mob.png"
              width="343"
              height="258"
            />
            <img
              class="games-img"
              src="./img/games/games-img3-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="258"
              loading="lazy"
            />
          </picture>
          <p class="games-item-text">
            Solve puzzles with musical memory in an ocean of whispers.
          </p>
        </li>
        <li class="games-list-item">
          <h3 class="games-item-title">The Eclipser</h3>
          <p class="games-item-subtitle">Ritual Puzzle. In Development</p>
          <picture>
            <source
              srcset="./img/games/games-img4-desk.png"
              media="(min-width: 1440px)"
              width="544"
              height="258"
            />
            <source
              srcset="./img/games/games-img4-mob.png"
              width="343"
              height="258"
            />
            <img
              class="games-img"
              src="./img/games/games-img4-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="258"
              loading="lazy"
            />
          </picture>
          <p class="games-item-text">
            An occult-themed timing puzzle where alignment is everything.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
