<section class="section hero-section" id="home">
  <div class="hero-wrapper">
    <div class="container hero-container">
      <h1 class="hero-title">
        Launch Events That Matter.<br />
        <span class="hero-title-span">Without the Mess.</span>
      </h1>
      <p class="hero-text">
        Whether it's your first community gathering or a niche brand activation,
        Eventlo helps you go from idea to execution with clarity, speed, and
        confidence. No bloated plans. No overwhelm. Just focused, digital-first
        support
      </p>
      <div class="hero-btn-wrapper">
        <a class="hero-btn" href="#contact" rel="noopener noreferrer"
          >Book Your Discovery Call
        </a>
      </div>
    </div>
  </div>
</section>
