<div class="context-menu">
  <button class="close-btn" type="button" aria-label="Close mobile menu">
    <svg class="close-icon" width="20" height="20">
      <use href="./img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about">What We Do</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#clients"
          >Who It's For</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#process">Process</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#testimonials"
          >Testimonials</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#pricing">Pricing</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#contact">Contact</a>
      </li>
    </ul>
  </nav>
</div>
