<div class="context-menu">
  <button class="close-btn" type="button" aria-label="Close mobile menu">
    <svg class="close-icon" width="64" height="64">
      <use href="./img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#games">Our Games</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#vision">Vision</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#studio">Studio</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#testimonials"
          >Reviews</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#careers">Careers</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#contact">Contact</a>
      </li>
    </ul>
  </nav>
</div>
