<section class="section testimonials-section" id="testimonials">
  <div class="testimonials-section-wrapper">
    <div class="container">
      <h2 class="section-title">Player Reviews</h2>
      <h2 class="section-subtitle">What Players Say About Our Games</h2>
    </div>
    <div class="container testimonials-container">
      <div class="testimonials-swiper-container">
        <ul class="swiper-wrapper testimonials-swiper-wrapper">
          <li class="swiper-slide testimonials-slide">
            <p class="testimonials-name">Camille R.</p>
            <p class="testimonials-profession">Artist & Player</p>
            <p class="testimonials-text">
              “I played Match Luna Nune every night for a week. It made me cry.
              Not from story, but from that beautiful rhythm between action and
              silence. It's rare to feel ‘held’ by a game.”
            </p>
          </li>
          <li class="swiper-slide testimonials-slide">
            <p class="testimonials-name">Rahul M.</p>
            <p class="testimonials-profession">
              Mobile Game Reviewer (MobileArc)
            </p>
            <p class="testimonials-text">
              “Luna Nune Interactive is redefining casual. These aren’t
              hyper-casual dopamine hits — they’re slow burns. They demand — and
              reward — presence.”
            </p>
          </li>
          <li class="swiper-slide testimonials-slide">
            <p class="testimonials-name">Jade V.</p>
            <p class="testimonials-profession">Educator</p>
            <p class="testimonials-text">
              “I let my students try Echoes of Drift. We ended up discussing
              musical form and emotional feedback for an hour. Their games
              provoke thought and emotion in equal measure.”
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="controls testimonials-controls">
        <button
          class="arrow-btn"
          id="testimonialsLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="64" height="64">
            <use href="./img/sprite.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <button
          class="arrow-btn"
          id="testimonialsRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="64" height="64">
            <use href="./img/sprite.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
