<section class="section vision-section" id="vision">
  <div class="container vision-container">
    <div class="vision-content-wrapper">
      <h2 class="section-title">Studio Philosophy</h2>
      <p class="section-subtitle">Puzzle Design Is Storytelling</p>
      <picture>
        <source
          srcset="./img/vision/vision-stone-desk.png"
          media="(min-width: 1440px)"
          width="348"
          height="348"
        />
        <source
          srcset="./img/vision/vision-stone-mob.png"
          width="234"
          height="234"
        />
        <img
          class="vision-img"
          src="./img/vision/vision-stone-mob.png"
          alt="Orange moon"
          width="234"
          height="234"
          loading="lazy"
        />
      </picture>
      <p class="vision-top-text">
        We believe that every match is a moment. Every mechanic should mean
        something. We work with intention — rejecting “click-to-win” loops in
        favor of precision, balance, and emotional resonance.
      </p>
      <p class="vision-middle-text">
        • We prototype with real players.<br />
        • We write our own engines.<br />
        • We slow down, so players don’t have to.<br />
      </p>
      <p class="vision-bottom-text">
        Our motto?<br />
        <span class="vision-span">
          Play slowly. Think deeply. Return often.
        </span>
      </p>
    </div>
  </div>
</section>
